<nav class="navbar navbar-expand-md navbar-dark">
  <div class="container">
    <a href="#" class="navbar-brand">Elyousfi.Mohamed</a>

    <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#main-nav">
      <span class="menu-icon-bar"></span>
      <span class="menu-icon-bar"></span>
      <span class="menu-icon-bar"></span>
    </button>

    <div id="main-nav" class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="dropdown">
          <a href="/customer" class="nav-item nav-link" data-toggle="dropdown">Customers</a>
          <div class="dropdown-menu">
            <a href="/customer" class="dropdown-item">All Customers</a>
            <a href="#" class="dropdown-item">Add Customer</a>
          </div>
        </li>
        <li class="dropdown">
          <a href="/product" class="nav-item nav-link" data-toggle="dropdown">Products</a>
          <div class="dropdown-menu">
            <a href="/product" class="dropdown-item">All Products</a>
            <a href="#" class="dropdown-item">Add Product</a>
          </div>
        </li>
        <li class="dropdown">
          <a href="/order" class="nav-item nav-link" data-toggle="dropdown">Orders</a>
          <div class="dropdown-menu">
            <a href="/order" class="dropdown-item">All Orders</a>
            <a href="#" class="dropdown-item">Add Order</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
